* {
    border: none;
    border-radius: 0;
    font-family: 'HarmonyOS Sans SC', 'JetBrains Mono Nerd Font';
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    opacity: 0.9;
    background: #303446;
    border-bottom: 2px solid #424761;
    color: #C6D0F5;
}

window#waybar.hidden {
    opacity: 0.0;
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 5px;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background: #64727D;
    border-bottom: 2px solid #ffffff;
}

#workspaces button.urgent {
    background-color: #F38BA8;
}

#mode {
    background: #64727D;
    border-bottom: 2px solid #ffffff;
}

#clock, #battery, #cpu, #memory, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor {
    padding: 0 10px;
    margin: 0;

    background: transparent;
}

#clock, #cpu, #memory, #temperature, #network, #pulseaudio, #custom-media, #mode, #tray, #idle_inhibitor {
    border-right: 3px solid #424761;
}

#pulseaudio {
    border-left: 3px solid #424761;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
