[Desktop Entry]
Version=1.0
Type=Application
Name=Joshuto File Manager
Comment=Open Folder with Joshuto
Exec=kitty -e /home/timber3252/.scripts/joshuto-open-folder %U
Icon=kitty
NoDisplay=true
MimeType=inode/directory
